<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link th:href="@{/styles/main.css}" rel="stylesheet"/>
    <title>Cars</title>
</head>

<body>

<h2>CAR SERVICE</h2>

<table>
    <tr>
        <th scope="col" class="table-id-col"> Id:</th>
        <th scope="col" class="table-show-cars">Mark:</th>
        <th scope="col" class="table-show-cars">Model:</th>
        <th scope="col" class="table-show-cars">Color:</th>
    </tr>
    <tr th:each="car: ${cars}">
        <td class="table-id-col" th:text="${car.getId()}"></td>
        <td class="table-show-cars" th:text="${car.getMark()}"></td>
        <td class="table-show-cars" th:text="${car.getModel()}"></td>
        <td class="table-show-cars" th:text="${car.getColor()}"></td>
    </tr>
</table>

<div class="another-div">
    <h3>Add Car:</h3>
    <form th:action="@{/add-car}" th:object="${newCar}" th:method="post">
        <table>
            <tr>
                <td>Id:</td>
                <td>
                    <label>
                        <input type="number" th:field="*{id}">
                    </label>
                </td>
            </tr>
            <tr>
                <td>Mark:</td>
                <td>
                    <label>
                        <input type="text" th:field="*{mark}">
                    </label>
                </td>

            </tr>
            <tr>
                <td>Model:</td>
                <td>
                    <label>
                        <input type="text" th:field="*{model}">
                    </label>
                </td>
            </tr>
            <tr>
                <td>Color:</td>
                <td>
                    <label>
                        <input type="text" th:field="*{color}">
                    </label>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <input type="submit" value="Add new car">
                </td>
            </tr>
        </table>
    </form>
</div>

<div class="another-div">
    <h3>Delete Car:</h3>
    <form th:action="@{/delete-car}" th:object="${delCar}" th:method="get">
        <table>
            <tr>
                <td>Id:</td>
                <td>
                    <label>
                        <input id="car-id" type="number" th:field="*{id}">
                    </label>
                </td>
            </tr>
            <tr>
                <td colspan="2" height="20px"></td>
            </tr>
            <tr>
                <td colspan="2" height="20px"></td>
            </tr>
            <tr>
                <td colspan="2" height="20px"></td>
            </tr>
            <tr>
                <td colspan="2"><input type="submit" value="Delete car"></td>
            </tr>
        </table>
    </form>
</div>

<div class="another-div">
    <h3>Modify Car:</h3>
    <form th:action="@{/modify-car}" th:object="${modifyCar}" th:method="get">
        <table>
            <tr>
                <td>Id:</td>
                <td>
                    <label>
                        <input type="number" th:field="*{id}">
                    </label>
                </td>
            </tr>
            <tr>
                <td>Mark:</td>
                <td>
                    <label>
                        <input type="text" th:field="*{mark}">
                    </label>
                </td>

            </tr>
            <tr>
                <td>Model:</td>
                <td>
                    <label>
                        <input type="text" th:field="*{model}">
                    </label>
                </td>
            </tr>
            <tr>
                <td>Color:</td>
                <td>
                    <label>
                        <input type="text" th:field="*{color}">
                    </label>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <input type="submit" value="modify car">
                </td>
            </tr>
        </table>
    </form>
</div>

<div class="first-div">
    <h3>Get car by id:</h3>
    <form th:action="@{/get-car-by-id}" th:object="${getById}" th:method="get">
        <table>
            <tr>
                <td>Id:</td>
                <td>
                    <label>
                        <input type="number" th:field="*{id}">
                    </label>
                </td>
            </tr>
            <tr>
                <td colspan="2" height="20px"></td>
            </tr>
            <tr>
                <td colspan="2" height="20px"></td>
            </tr>
            <tr>
                <td colspan="2" height="20px"></td>
            </tr>
            <tr>
                <td colspan="2"><input type="submit" value="Get car by ID"></td>
            </tr>
        </table>
    </form>
</div>

<div class="another-div">
    <h3>Get car by color:</h3>
    <form th:action="@{/get-car-by-color}" th:object="${getByColor}" th:method="get">
        <table>
            <tr>
                <td>Color:</td>
                <td>
                    <label>
                        <input type="text" th:field="*{color}">
                    </label>
                </td>
            </tr>
            <tr>
                <td colspan="2" height="20px"></td>
            </tr>
            <tr>
                <td colspan="2" height="20px"></td>
            </tr>
            <tr>
                <td colspan="2" height="20px"></td>
            </tr>
            <tr>
                <td colspan="2"><input type="submit" value="Get car by color"></td>
            </tr>
        </table>
    </form>
</div>

<div class="another-div">
    <h3>Modify field:</h3>
    <form th:action="@{/modify-field}" th:object="${modifyField}" th:method="get">
        <table>
            <tr>
                <td>Id:</td>
                <td>
                    <label>
                        <input type="number" th:field="*{id}">
                    </label>
                </td>
            </tr>
            <tr>
                <td>Field:</td>
                <td>
                    <label>
                        <select name="fields" th:field="*{property}">
                            <option value="mark">Mark</option>
                            <option value="model">Model</option>
                            <option value="color">Color</option>
                        </select>
                    </label>
                </td>
            </tr>
            <tr>
                <td>Value:</td>
                <td>
                    <label>
                        <input type="text" th:field="*{value}">
                    </label>
                </td>
            </tr>
            <tr>
                <td colspan="2" height="20px"></td>
            </tr>
            <tr>
                <td colspan="2"><input type="submit" value="Modify field"></td>
            </tr>
        </table>
    </form>
</div>

</body>

</html>