<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link th:href="@{/styles/main.css}" rel="stylesheet"/>
    <title>Fault</title>
<body>

<h2>Fault</h2>

<ul>
    <li th:each="err : ${#fields.errors('global')}" th:text="${err}"></li>
</ul>

<ul>
    <li th:each="err : ${#fields.errors('all')}" th:text="${err}"></li>
</ul>

<form th:action="@{/go-to-home-page}"  th:method="get">
    <input type="submit" value="Go to home page">
</form>

</body>
</html>