.table-show-cars {
    border: 1px black solid;
    width: 150px;
}

.table-id-col {
    border: 1px black solid;
    width: 40px;
}

.first-div {
    clear: both;
    float: left;
    margin-right: 20px;
    margin-bottom: 30px;
}

.another-div {
    float: left;
    margin-right: 20px;
    margin-bottom: 30px;
}