.table-show-cars {
    border: 1px black solid;
    width: 150px;
}

.table-id-col {
    border: 1px black solid;
    width: 40px;
}

#add-car {
    float: left;
    margin-right: 20px;
    margin-bottom: 30px;
}

#del-car {
    float: left;
    margin-right: 20px;
    margin-bottom: 30px;

}

#mod-car {
    float: left;
    margin-right: 20px;
    margin-bottom: 30px;

}

#get-car-by-id {
    clear: both;
    margin-right: 10px;
}